* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --white: #f1f1f1;
    --black: #333;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear 0.2s;
}

h1 {
    position: absolute;
    font-size: 20em;
    color: rgba(0, 0, 0, 0.1);
    user-select: none;
}

.toogle {
    position: relative;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background: var(--black);
}

.toogle::before {
    content: 'Off';
    position: absolute;
    top: 5px;
    right: 5px;
    width: calc(50% - 10px);
    height: calc(100% - 10px);
    border-radius: 5px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    transition: linear 0.2s;
}