*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#003cff,#00e1ff);
}
.login{
    background:white;
    box-shadow: 5px 5px 25px rgb(0,0,0,0.2);
    padding: 40px 40px;
    text-align: center;
    border-radius: 30px;
} 
.login h2{
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
    color: yellowgreen;
    margin-bottom: 30px;
    text-shadow: 2px 2px rgba(0, 0 ,0 ,0.2);
}
.login{
    position: relative;
    margin-bottom: 20px;
}
.login .box{
    position: relative;
    margin-bottom: 20px;
}

.box #toggle{
    position: absolute;
    top: 0; 
    right: 10px;
    height: 100%;
    display: flex;
   align-items: center;
   font-size: 1.2em;
   cursor: pointer;
   user-select: none;
   color: #333;
}
.box #toggle ::before{
    content: '\f06e';
    font-family: fontAwesome;
}
input{
    position: relative; 
    width: 300px;
    height: 50px;
    text-indent: 10px;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    outline: none;
    font-size: 1.1em;
    transform: linear 0.2s;
}
input:focus{
    border-color: #003cff;
    text-indent: 20px;
}
.btnLogin{
    display: inline-block;
    padding: 10px 45px;
    margin-top: 20px;
    color: #003cff;
    text-decoration:none;
    font-size: 1.2em;
    border-radius: 10px;
    letter-spacing: 2px;
    font-weight: 700;
    box-shadow: 2px 2px rgb(0,0,0,0.2),
                -2px -2px #f1f1ff,
                inset 2px 2px rgba(0, 0 ,0 ,0.2),
                inset -2px -2px #f1f1ff;
    transform: linear 0.2s;
}
.btnLogin:hover{
    background-color:#003cff;
    color: white;
    box-shadow: none;
}
.login .query{
    margin: 20px 0;
}
.login .query p{
    margin-top: 10px;
    font-weight: 400;
}
.login .query p a{
    text-decoration:none;
    color: #003cff;
    transform: linear 0.2s;
}
.login .query p a:hover{
    text-decoration: underline ;
    font-weight: 700;
}